<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <body>
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Artist: {{artist}}</p>
    </body>
  </a>
</section>