<div class="dish-card">
    <h2>{{dish_name}}</h2>
    <p>Description: {{description}}</p>
    <p>Guest: {{guest_name}}</p>
    {{#if has_nuts}}
    <p>Contains Nuts</p>
    {{/if}}
</div>

<!-- TODO: This is the form for updating a dish. According to MVC framework, what is this form responsible for? What isn't it responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will intercat with. It is not responsible for data-related logic, requests, or business-logic. -->

<div class="edit-dish-container">
    <h2>Update this Dish</h2>
    <form class="edit-dish-form">
        <label for="dish_name">Dish Name:</label><br>
        <textarea id="dish_name" name="dish_name" rows="2" cols="30"> {{dish_name}} </textarea><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="5" cols="30">{{description}}</textarea><br>
        <label for="guest_name">Guest Name:</label><br>
        <textarea id="guest_name" name="guest_name" rows="2" cols="30"> {{guest_name}} </textarea><br><br>
        <input type="checkbox" id="has_nuts" name="has_nuts" value="true">
        <label for="has_nuts"> Check box if this dish contains nuts</label><br>

        <input type="submit" value="Submit">
    </form>
</div>

<script src="/js/edit-dish.js"></script>