<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.filename}}">
  <div class="painting-details">
    <h1>{{painting.title}}</h1>
    <p class="text-center">Artist: {{painting.artist}}</p>
    {{!-- TODO: Use the custom method to format the painting.date --}}
    <p>Exhibition open until: {{ painting.date}}</p>
  </div>
</section>