{{!-- If the user is logged in, render the painting content --}}
{{#if loggedIn}}
<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h1>{{painting.title}}</h1>
    <p class="text-center">Artist: {{painting.artist}}</p>
    <p>Exhibition open until: {{ format_date painting.date}}</p>
  </div>
</section>
{{!-- Otherwise, provide a link to login --}}
{{else}}
<a href="/login">You must login first to view this painting</a>
{{/if}}